.item{
    display: inline-block;
    width: 25rem;
    height: 37.5rem;
    border: 1px solid #dedede;
    margin: 1.5rem;
    padding: 1rem;
}
.item img{
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
}
.itemPrice{
    font-size: 2rem;
    color: rgb(160,30,30);
}
.searched{
    border: 2px solid blue;
}
.cat{
    text-align: center;
}
.cat h1{
    margin-right: auto;
    margin-left: auto;
}
.flex-container{
    display:flex;
    padding-top: 1rem;
}
.categories li{
    border-right: 3px solid #dedede;
    padding-right: 1.5rem;
    list-style-type: none;
    line-height: 2;
}
.categories{
    margin-top: .5rem;
}

.catalog{
    display: grid;
    grid-template-columns: 50% 50%;
}
a{
    text-decoration: none;
}
li{
    cursor: pointer;
}